//Color Variables 
$primarycolor: #58e1c1;
$primary-dark: darken($primarycolor, 15%);
$secondarycolor: #51ddfc;
$secondary-hover: lighten($secondarycolor, 15%);
$complement: complement($primarycolor);
$button: purple;
$button1: rgb(209, 209, 12);
$button2: green;
$button3: orange;
$warning: red;
$shader: #777;


//Font Stack Variables

$primaryfont:'Lato', sans-serif;

// Query Size

$medbreak: 786px;