/* ============================================= */
/*              Buttons                          */
/* ============================================= */

 %btn {
    margin-top: 15px;
    width: 100%;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    &:hover {
      background-color: lighten($secondarycolor, 15%)

    }
}
    .default {
      background-color: $secondarycolor;
      @extend %btn;
    }
    .error {
      @extend %btn;
      background-color: #e4757a;
    }
    .info {
      @extend %btn;
      background-color: #927bc1;
    }
    .success {
      @extend %btn;
      background-color: #63cc82;
    }
    .warning {
      @extend %btn;
      background-color: #fd7856;
    }
  
  