/* ============================================= */
/*              Buttons                          */
/* ============================================= */

 %btn {
    margin-top: 15px;
    width: 100%;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
 }
    .default {
      background-color: $secondarycolor;
      @extend %btn;
      border-radius: 5px;
      &:hover {
      background-color: lighten($secondarycolor,20%);

    }
    }
    .error {
      @extend %btn;
      background-color: $complement;
      &:hover {
        background-color: lighten($complement,20%);
      }
    }
    .info {
      @extend %btn;
      background-color: $button;
      &:hover {
        background-color: lighten($button,20%);
    }
  }

    .success {
      @extend %btn;
      background-color: $button1;
      &:hover {
        background-color: lighten($button1,20%);
  
    }
  }
    .warning {
      @extend %btn;
      background-color: $warning;
      &:hover {
        background-color: lighten($warning,20%);
  
    }
  }