/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
  
}

.row {
  @include flexy (flex, column);
  padding: 1em 10px;
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    
  }
}

// [class^=col] {
//   margin-top: 10px;
//   flex-basis: 100%;
//   min-height: 25px;
//   padding: 10px;
//   border-radius: 5px;
// }

.theme.col-1 {
  background-color: $button;
}

.theme.col-2 {
  background-color: darken($warning, 15%);
}

.theme.col-3 {
  background-color:lighten($button, 20%);
}

.theme.col-4 {
  background-color: $primarycolor;
}

.theme.col-5 {
  background-color: lighten($button2, 30%)
}

.theme.col-6 {
  background-color: darken($secondarycolor, 10%);
}

.theme.col-7 {
  background-color: lighten($warning, 40%)
}

.theme.col-8 {
  background-color: lighten($warning, 15%)
}

.theme.col-9 {
  background-color: $button2;
}

.theme.col-10 {
  background-color: lighten($button2, 15%)
}

.theme.col-11 {
  background-color: $secondarycolor;
}

.theme.col-12 {
  background-color: lighten($secondarycolor,10%);
}

// .card {
//   flex-basis: 100%;
// }