/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
  
}

.row {
  @include flexy (flex, column);
  padding: 1em 10px;
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    
  }
}

// [class^=col] {
//   margin-top: 10px;
//   flex-basis: 100%;
//   min-height: 25px;
//   padding: 10px;
//   border-radius: 5px;
// }

.theme.col-1 {
  background-color: $button;
}

.theme.col-2 {
  background-color: $button1;
}

.theme.col-3 {
  background-color: $warning;
}

.theme.col-4 {
  background-color: $complement;
}

.theme.col-5 {
  background-color: $button3;
}

.theme.col-6 {
  background-color: $primary-dark;
}

.theme.col-7 {
  background-color: $button3;
}

.theme.col-8 {
  background-color: $button2;
}

.theme.col-9 {
  background-color: $button2;
}

.theme.col-10 {
  background-color: $button3;
}

.theme.col-11 {
  background-color: $secondarycolor;
}

.theme.col-12 {
  background-color: $button;
}

// .card {
//   flex-basis: 100%;
// }