/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
    @include imagery (10px, 100%);
    max-height: 100%;
  }

  .img-frame {
    @include imagery (10px, 100%);
    padding: 13px;
    border: 1px soli $shader;
  }
  
  .img-logo {
   @include imagery;
  }
  