/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
    @include imagery;
    margin-top: 10px;
    max-width: 100%; 
    max-height: 100%;
  }

  .img-frame {
    @include imagery;
    margin-top: 10px;
    max-width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
  }
  
  .img-logo {
   @include imagery;
  }
  