/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: $primaryfont;
    color: $shader;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }